html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: box;
  box-align: center;
  box-pack: center;

  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
